.volumeInput {
    width: 100px;
    display: inline-block;
    padding-left: 20px;
}

.songDurationInput {
    width: 400px;
    display: inline-block;
    padding-right: 20px;
}

.images {
    margin-right: 10px;
}